<style>
    .profile-section {
        padding: 20px 0;
        text-align: center;
    }
    .profile-pic {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .name {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }
    .email {
        font-size: 15px;
        font-style: italic;
        margin-top: 5px;
    }
    .posts-section {
        padding: 20px 0;
    }
    .post {
        margin-bottom: 15px;
    }
    .post img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
</style>

{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Profile Section -->
    <div class="profile-section">
      <img src="{{url_for('static', filename = 'profile_pics/' + current_user.profile_image)}}" alt="Profile Picture" class="profile-pic">
      <div class="name">{{current_user.username}}</div>
      <div class="email">{{current_user.email}}</div>
    </div>
  
    <!-- Recent Posts Section -->
    <div class="posts-section">
        <h3>My Recent Posts</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
          {% for post in blog_posts.items %}
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ post.title | truncate(30) }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.date.strftime("%Y-%m-%d") }}</h6>
                <p class="card-text">{{ post.text | truncate(20) }}</p>
                <a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}" class="card-link">View or Edit the Post</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    <!-- Edit Profile Information Section -->
    <div class="posts-section">
        <h3>Update Account Information</h3>
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class = 'form-group'>
                {{form.username.label(class = 'form-group')}}
                {{form.username(class = 'form-control')}}
            </div>
            <div class = 'form-group'>
                {{form.email.label(class = 'form-group')}}
                {{form.email(class = 'form-control')}}
            </div>
            <div class = 'form-group'>
                {{form.picture.label(class = 'form-group')}}
                {{form.picture(class = 'form-control')}}
            </div>
            <div class = 'form-group'>
                {{form.submit(class = 'btn btn-primary')}}
            </div>
        </form>
    </div>
</div>
{% endblock%}