{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="mb-3">
        <label for="yearSelect" class="form-label">Select Year:</label>
        <select class="form-control" id="yearSelect" onchange="location = this.value;">
            <option value="#">Choose a year</option>
            <option value="{{ url_for('standings.show_standing', year=2020, league_id = league_id) }}">2020-2021</option>
            <option value="{{ url_for('standings.show_standing', year=2021, league_id = league_id) }}">2021-2022</option>
            <option value="{{ url_for('standings.show_standing', year=2022, league_id = league_id) }}">2022-2023</option>
            <option value="{{ url_for('standings.show_standing', year=2023, league_id = league_id) }}">2023-2024</option>
        </select>
    </div>
    <head>Season: {{ year }} ~ {{year + 1}}</head>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Points</th>
                <th>Goals For</th>
                <th>Goals Against</th>
                <th>Goal Difference</th>
                <th>Form</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in standing_data %}
            <tr>
                <td>{{ standing.rank }}</td>
                <td>
                    <img src="{{ standing.team_logo }}" alt="{{ standing.team }} Logo" style="width: 30px; height: 30px; object-fit: cover;">
                    {{ standing.team }}
                </td>
                <td>{{ standing.points }}</td>
                <td>{{ standing.goals_for }}</td>
                <td>{{ standing.goals_against }}</td>
                <td>{{ standing.goal_difference }}</td>
                <td>{{ standing.form }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <head>Top Scorer</head>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Goals</th>
                <th>Penalty</th>
                <th>Appearences</th>
            </tr>
        </thead>
        <tbody>
            {% for player in top_scorer_data %}
            <tr>
                <td><img src="{{ player.photo }}" alt="{{ player.lastname }} Photo" style="width: 30px; height: 30px; object-fit: cover;">
                    {{ player.firstname + ' ' + player.lastname }}
                </td>
                <td>
                    <img src="{{ player.team_logo }}" alt="{{ player.team }} Logo" style="width: 30px; height: 30px; object-fit: cover;">
                    {{ player.team }}
                </td>
                <td>{{ player.goals }}</td>
                <td>{{ player.penalty }}</td>
                <td>{{ player.appearences }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}